{% extends 'index.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>
{% endblock %}

{% block content %}

    <!-- content -->
    <div class="app-content-body">
        <div class="bg-light lter b-b wrapper-md">
            <h1 class="m-n font-thin h3">人员录入</h1>
        </div>
        <div class="wrapper-md">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {#                人员录入表单#}
                            <form class="form-horizontal" method="post" id="regist_form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-id-1">姓名</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="staff_name">
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">性别</label>
                                    <div class="col-sm-5">
                                        <div id="sex" class="radio">
                                            <label class="i-checks">
                                                <input type="radio" name="sex" value="M">
                                                <i></i>
                                                男
                                            </label>
                                            <label class="i-checks">
                                                <input type="radio" name="sex" value="F">
                                                <i></i>
                                                女
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-id-1">生日</label>
                                    <div class=" col-sm-5">
                                        <div class="input-group date form_date">
                                            <input type="text" class="form-control" name="birthday" readonly>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-id-1">电话</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="phone">
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">部门选择</label>
                                    <div class="col-sm-5">
                                        <select name="department" id="department" class="form-control m-b" onchange="changeVal(this.value)">
                                            {% for depart in departs %}
                                                <option value="{{ depart.department_name }}">{{ depart.department_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">职位选择</label>
                                    <div class="col-sm-5">
                                        <select name="duty_name" id="duty" class="form-control m-b">
                                            {% for duty in dutys %}
                                                <option value="{{ duty.duty_name }}">{{ duty.duty_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-id-1">登录账号</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="username">
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">登录密码</label>
                                    <div class="col-sm-5">
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-id-1"></label>
                                    <div class="col-sm-5 text-center">
                                        <button class="btn btn-info btn-bg" id="add_staff" type="button">添加人员</button>
                                    </div>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / content -->

{% endblock %}

{% block js %}
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script>
        {#    根据 部门 通过 AJAX 从后台获取职位#}
        function changeVal(value) {
            $.ajax({
                url: "{% url 'add_staff' '?' %}",
                data: {departname: value},
                type: "GET",
                success: function (result) {
                    $("#duty option").remove();
                    if(result.status == "success") {
                        dutysJson = JSON.parse(result.dutys);
                        var selectDuty = $("#duty");
                        if (dutysJson.length > 0) {
                            for (var i = 0; i < dutysJson.length; ++i) {
                                selectDuty.append("<option>" + dutysJson[i].fields.duty_name + "</option>");
                            }
                        }
                    }else{
                        sweetAlert("失败!", result.msg, "error");
                    }
                },
                error: function () {
                    sweetAlert("失败!", "执行错误!", "error");
                }
            });
        }

        $('.form_date').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd',
            showMeridian: 1
        });

        // 用户注册
        $("#add_staff").click(function () {
            $.ajax({
                cache: false,
                type: "POST",
                url:'{% url 'add_staff' '?' %}',
                data:$("#regist_form").serialize(),
                async: true,
                success: function (result) {
                    if(result.status == "success") {
                        swal({
                                    title: "操作成功",
                                    text: result.msg,
                                    type:"success",
                                    timer: 2000,
                                    showConfirmButton: false},
                                function () {
                                    location.href = '{% url 'add_staff' '所有' %}';
                                }
                        );
                    }else{
                        sweetAlert("操作失败", result.msg, "error");
                    }
                }
            });
        });
    </script>
{% endblock %}