
{% extends 'index.html' %}
<!-- content -->

{% block content %}

    <div class="app-content-body">
        <div>
            <div class="col2 bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h3">{{ depart }}部门的职位</h1>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper-md">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <table class="table table-hover" data-toggle="table">
                                            <thead>
                                            <tr>
                                                <th class="text-center" style="width:20%">职位</th>
                                                <th class="text-center" style="width:60%"></th>
                                                <th class="text-center" style="width:20%">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for duty in dutys.object_list %}
                                                <tr>
                                                    <td class="text-center">{{ duty.duty_name }}</td>
                                                    <td class="text-center">
                                                    </td>
                                                    <td class="text-center">
                                                        <button class="btn btn-xs btn-warning" name="{{ duty.duty_name }}">修改</button>
                                                        <button class="btn btn-xs btn-danger" id="delete" name="{{ duty.duty_name }}">删除</button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <!-- 分页 -->
                                        <footer class="panel-footer">
                                            <div class="col-sm-12 text-right text-center-xs">
                                                <ul class="pagination pagination-sm m-t-none m-b-none">
                                                    {% if dutys.has_previous %}
                                                        <li>
                                                            <a href="?{{ dutys.previous_page_number.querystring }}">
                                                                <i class="fa fa-chevron-left"></i>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled">
                                                            <a>
                                                                <i class="fa fa-chevron-left"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% for page in dutys.pages %}
                                                        {% if page %}
                                                            {% ifequal page dutys.number %}
                                                                <li class="active">
                                                                    <a href="?{{ page.querystring }}">{{ page }}</a>
                                                                </li>
                                                            {% else %}
                                                                <li>
                                                                    <a href="?{{ page.querystring }}">{{ page }}</a>
                                                                </li>
                                                            {% endifequal %}

                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if dutys.has_next %}
                                                        <li>
                                                            <a href="?{{ dutys.next_page_number.querystring }}">
                                                                <i class="fa fa-chevron-right"></i>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled">
                                                            <a>
                                                                <i class="fa fa-chevron-right"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                        </footer>
                                        <!-- / 分页 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(".btn-danger").click(function () {
            var duty_name = this.getAttribute("name");
            $.ajax({
                url:'{% url 'dept_detail' '?'%}',
                data:{method: "delete", duty_name: duty_name, csrfmiddlewaretoken: '{{ csrf_token }}'},
                type:"POST",
                success: function (result) {
                    if(result.status == "success") {
                        swal({
                                    title: "操作成功",
                                    text: result.msg,
                                    type:"success",
                                    timer: 2000,
                                    showConfirmButton: false},
                                function () {
                                    location.href = "/index/dept_detail/{{ depart }}/";
                                }
                        );
                    }else{
                        sweetAlert("错误!", result.msg, "error");
                    }
                },
                error: function (result) {
                    sweetAlert("失败!", "执行错误!", "error");
                }
            });
        });

        $(".btn-warning").click(function () {
            var org_duty_name = this.getAttribute("name");
            swal({
                        title: "职位名称修改",
                        text: "请输入新的职位名称:",
                        type: "input",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        inputPlaceholder: "新职位名称"
                    },
                    function(inputValue){
                        if (inputValue === false)
                            return false;
                        if (inputValue === "") {
                            swal.showInputError("请输入新职位名称!");
                            return false;
                        }
                        if (org_duty_name===inputValue) {
                            swal.showInputError("请输入不同的职位名称!");
                            return false;
                        }
                        $.ajax({
                            url:'{% url 'dept_detail' '?'%}',
                            data:{method: "modify", org_duty_name: org_duty_name, duty_name: inputValue, csrfmiddlewaretoken: '{{ csrf_token }}'},
                            type:"POST",
                            success: function (result) {
                                if(result.status == "success") {
                                    swal({
                                                title: "操作成功",
                                                text: result.msg,
                                                type:"success",
                                                timer: 2000,
                                                showConfirmButton: false},
                                            function () {
                                                location.href = "/index/dept_detail/{{ depart }}/";
                                            }
                                    );
                                }else{
                                    sweetAlert("错误!", result.msg, "error");
                                }
                            },
                            error: function (result) {
                                sweetAlert("失败!", "执行错误!", "error");
                            }
                        });
                    });
        });
    </script>
{% endblock %}
